body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-image: linear-gradient(white,black);
}

#div1{
    width: 100%;
    height: 70px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(0, 0, 0, 255);
    display: flex;
    align-items: center;
}

#img1{
    width: 170px;
    height: 50px;
    padding: 5px 0px 2px 0px;
    display: inline;
}

#img2{
    width: 170px;
    height: 50px;
    padding: 5px 0px 2px 10px;
    display: inline-block; 
}

#srch{
    width: 680px; 
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    left: 2%;
    height: 30px;
    font-family: cursive;
    font-size: large;
}

#ddd{
    position: relative;
    left: 2%;
}

#name{
    color: white;
    position: relative;
    left: 3%;
    font-family: cursive;
    font-size: medium;
}

#Returns{
    color: white;
    position: relative;
    left: 4%;
    font-family: cursive;
    font-size: medium;
}

#bsk{
    position: relative;
    left: 5%;
    width: 50px;
    height: 50px;
}

#div2{
    width: 100%;
    height: 40px;
    background-color: #040325;
    display: flex;
    flex-direction: row;
}

.group{
    display: flex;
    color: whitesmoke;
    padding-left: 25px;
    padding-top: 8px;
    font-size: smaller;
    font-family: cursive;
}

#img3{
    width: 100%;
    border-width: 0px;
    border-color: white;
    border-style: solid; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#parentdiv{
    display: flex;
    height: 360px;
    padding-left: 80px;
    padding-bottom: 350px;
}

#subdiv1{
    padding-left: 10px;
}

.mse{
    height: 350px;
    width: 320px;
    border-width: 1px;
    border-color: black;
    border-style: solid; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
}

#foot{
    display: flex;
}

#footer{
    background-color: rgb(5, 31, 58);
    width: 1515px;
    height: 20px;
    padding-left: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: whitesmoke;
    text-align: center;
    font-family: cursive;
}

#last{
    display: flex;
}

#end{
    width: 1515px;
    height: 400px;
    background-color: #040325;
    display: flex;
}

#sub1{
    width: 300px;
    height: 300px;
    position: relative;
    left: 15%;
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 15px;
    font-family: cursive;
}

#sub2{
    width: 300px;
    height: 300px;
    position: relative;
    left: 10%;
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 15px;
    font-family: cursive;  
}

#sub3{
    width: 300px;
    height: 300px;
    position: relative;
    left: 5%;
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 15px;
    font-family: cursive; 
}

#sub4{
    width: 300px;
    height: 300px;
    position: relative;
    left: 5%;
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 15px;
    font-family: cursive; 
}

#fin{
    width: 1515px;
    height: 100px;
    background-color: black;
    display: flex;
}

#finish{
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
    display: flex;
    left: 40%;
}

#img6{
    width: 75px; 
    height: 35px;
}

.drop{
    padding-left: 25px;
}